DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_discord_client_id_here
DATABASE_URL="file:./dev.db"

# Isi dengan ID server Discord kamu untuk command registration INSTAN (development)
# Kosongkan untuk registrasi global (production) - bisa butuh hingga 1 jam
DEV_GUILD_ID=your_guild_id_here
